@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//----Display----//
.flex-between {
    display: flex;
    justify-content: space-between;
}

//--------------//

//----Margin----//
.mx {

    &-10 {
        margin-left: $md;
        margin-right: $md;
    }
}

//--------------//

//----Text----//
.text-center {
    text-align: center;
}

.text-none {
    text-decoration: none;
}

//--------------//

//----Font----//
.fs {

    &-5 {
        font-size: $xsm;
    }

    &-3 {
        font-size: $md;
    }

    &-1 {
        font-size: $xl;
    }
}

.x {
    &-2 {
        font-size: $x2;
    }

    &-3 {
        font-size: $x3;
    }

    &-4 {
        font-size: $x4;
    }
}


//--------------//
.dot-spacer {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: $secondary-color;

  margin: 0 0.5rem;
  margin-bottom: .1rem;
}

.app {
  background-color: $primary-color;
  font-family: $font-base;
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.app__whitebg {
  background-color: $background-color;
}

.app__primarybg {
  background-color: $primary-color;
}

.app_light_blackbg {
  background-color: $light-black-color;
}

.app__container {
  width: 100%;
  min-height: 90vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: $dark-black-color;
  text-transform: capitalize;

  span {
    color: $secondary-color;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1rem;
  text-align: left;
  color: $dark-black-color;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: $dark-black-color;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
  